= link_to '管理TOP', service_root_path
'
= link_to 'カテゴリ管理', service_categories_path
'
= link_to '行動管理', service_outcomes_path
'
= link_to 'ユーザ数推移', '#'
'
= link_to 'ログアウト', destroy_administrator_session_path, method: :delete
